<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>

$for(header-includes)$
$header-includes$
$endfor$

$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
  

  
</head>
<body>
<div id="wrapper">
  
$for(include-before)$
$include-before$
$endfor$

$if(inner-wrapper)$
<div id="inner-wrapper" >
$endif$


$if(container)$
<div class="container">
$endif$  
  

 <section id="intro">
                <div class="intro-top texture">
                    <h1>The <span>Social Coding Environment</span> for Big Data Analytics &amp; Visualization</h1>
                    <div class="intro-buckets clearfix">
                        <ul class="clearfix">
                            <li class="explore">
                                <span><img src="images/exploration_icon.png" title="Exploration" /></span>
                                <h3>Exploration</h3>
                                <p class="wide">Interactive, web-based environment to explore data on an interactive command line, including visualization and interactive graphics.</p>
                            </li>
                            <li class="open-src">
                                <span><img src="images/open_source_icon.png" title="Open Source" /></span>
                                <h3>Open Source</h3>
                                <p>Code is available on Github – <br/>collaborators and contributors welcome!</p>
                            </li>
                            <li class="collab">
                                <span><img src="images/collaboration_icon.png" title="Collaboration" /></span>
                                <h3>Collaboration</h3>
                                <p class="wide">Social coding integrated development environment (IDE): search, run, comment, fork, modify and share code and analyses - deployed as web services, web pages or dashboards.</p>
                            </li>
                            <li class="cloud">
                                <span><img src="images/cloud_icon.png" title="In the Cloud" /></span>
                                <h3>In the Cloud</h3>
                                <p>Accessible from any connected device or computer anywhere, scalable power of distributed computing.</p>
                            </li>
                        </ul>

                        <blockquote class="awards">
                        <p><span class="quote open"><span>&ldquo;</span></span>Recently, the <a href="http://www.stevieawards.com/pubs/awards/403_2949_25773.cfm" target="_blank">American Business Awards</a> recognized RCloud as one of the Technical Innovations of the Year, and the <a href="http://www.stevieawards.com/pubs/iba/awards/408_2950_25810.cfm" target="_blank">International Business Awards</a> recognized it as one of the Best New Products or Services of the Year in Software. Additionally, InfoWorld named RCloud as one of the best open source big data tools in their <a href="http://www.infoworld.com/article/2688074/big-data/big-data-164727-bossie-awards-2014-the-best-open-source-big-data-tools.html#slide4" target="_blank">2014 Bossie Awards</a>.<span class="quote close"><span>&bdquo;</span></span></p>
                        </blockquote>
                    </div>
                </div>
                <div class="intro-bottom parallax" data-parallax="scroll" data-image-src="images/bkg_trial.jpg" data-position="left top" data-speed="0.8" data-bleed="5">
                    <div class="overlay">
                        <a href=/login.R><h2>Hack on RCloud</h2></a>
                        <p>RCloud is free – an open source community for creative developers of all kinds.</p>

                        <ul class="trial-nav clearfix">
                            <li><a href="https://github.com/att/rcloud/archive/develop.zip" title="Download RCloud">Download</a></li>
                            <li><a href="https://github.com/att/rcloud" title="Visit RCloud on GitHub" target="_blank">Visit GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="features-benefits">
                <div>
                    <h2>Features &amp; Benefits</h2>
                    <div class="features-accordion clearfix">
                        <ul>
                            <li>
                                <h4>Collaboration</h4>
                                <p>RCloud is a social coding environment, designed to jumpstart your work. With RCloud you can rate and share code with other developers. You can form social circles around specific topic areas, and search for similar, relevant work, so you don’t have to recreate the wheel. Using RCloud to collaborate with other developers, you can dynamically manage content and link together various elements of an&nbsp;analysis.</p>
                            </li>
                            <li>
                                <h4>Deployment as Web service</h4>
                                <p>RCloud is readily accessible through a standard web browser. It uses web-based notebooks to document and provide data analysis. This means you can access the RCloud environment, notebooks, results, and visualizations from&nbsp;anywhere. </p>
                            </li>
                            <li>
                                <h4>Work from anywhere</h4>
                                <p>You can access RCloud from anywhere and any connected device. You might close an RCloud notebook at work and then open it again at home. Developers collaborating together can open the same notebook to see what each other is doing and insert a new step or modify an existing&nbsp;one. </p>
                            </li>
                            <li>
                                <h4>Scalability</h4>
                                <p>RCloud gives you superfast interactions with data in HDFS or other systems. This is possible because we built in a chunk-wise compute + combine paradigm via customized functions for&nbsp;fast&nbsp;I/O.</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4>Distributed computing</h4>
                                <p>RCloud uses both parallel and distributed processing to handle the high throughput computing and data management needs required for the immense data sets that are now commonly available in big data&nbsp;problems.</p>
                            </li>
                            <li>
                                <h4>Versioning/forking</h4>
                                <p>We built RCloud with collaboration and transparency in mind. The documentation processes for RCloud’s web-based notebooks make it easy for developers to create a new version or fork existing code. You can see what packages and code, data sources and servers were used each step along the way – along with more detailed text and comments where needed. If you want to reuse an RCloud notebook, you can simply swap in different data sources, change the packages or code, or specify a different&nbsp;server.</p>
                            </li>
                            <li>
                                <h4>Multiple languages</h4>
                                <p>RCloud currently supports R and Python programming languages.</p>
                            </li>
                            <li>
                                <h4>Integration of analysis language with UI</h4>
                                <p>Both data scientists and business executives can use RCloud.  We keep the interaction with the distributed computing system in the background, so the user does not need to write complex map/reduce code directly. Analyses can also be delivered via web services to allow for use and interaction with non-technical colleagues. This makes it easy to analyze and share results with anyone from business executives to project managers to fellow&nbsp;data&nbsp;scientists.</p>
                            </li>
                        </ul>
                    <div>
                </div>
            </section>

            <section id="videos">
                <div class="videos-top parallax" data-parallax="scroll" data-image-src="images/bkg_videos.jpg" data-position="right top" data-speed="0.8" data-bleed="5">
                    <div class="overlay">
                        <h2>Videos</h2>
                        <p>View demonstrations on new RCloud elements and features.</p>

                        <ul class="video-nav">
                            <li><a href="https://www.youtube.com/embed/_aMFzfUnMDE?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;autoplay=1&amp;enablejsapi=1" title="Watch Video: New UI Elements">New UI Elements</a></li>
                            <li><a href="https://www.youtube.com/embed/jphgSXaAriQ?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;autoplay=1&amp;enablejsapi=1" title="Watch Video: Using Debugger Feature">Using Debugger Feature</a></li>
                            <li><a href="https://www.youtube.com/embed/ftwYwyOsGs0?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;autoplay=1&amp;enablejsapi=1" title="Watch Video: Using Shiny Feature">Using Shiny Feature</a></li>
                        </ul>
                    </div>
                </div>
                <div class="videos-bottom texture">
                    <div id="video-module">
                        <div class="video-overlay"><span></span></div>
                        <div class="video-player">
                            <div id="video"></div>
                            <!--<iframe id="video1" width="1000" height="562" src="https://www.youtube.com/embed/9uEMKz923NI?rel=0&amp;wmode=opaque" frameborder="0" enablejsapi="1" allowfullscreen></iframe>-->
                        </div>
                    </div>

                    <ul class="video-nav">
                        <li><a href="https://www.youtube.com/watch?t=7&v=_aMFzfUnMDE" title="Watch Video: New UI Elements" target="_blank">New UI Elements</a></li>
                        <li><a href="https://www.youtube.com/watch?t=2&v=jphgSXaAriQ" title="Watch Video: Using Debugger Feature" target="_blank">Using Debugger Feature</a></li>
                        <li><a href="https://www.youtube.com/watch?t=2&v=ftwYwyOsGs0" title="Watch Video: Using Shiny Feature" target="_blank">Using Shiny Feature</a></li>
                    </ul>
                </div>
            </section>

<div>
$for(g)$
  $if(g.section)$
  </div><div class="row"><h2 class="gallery-header">$g.section$</h2>
  $else$
  <div class="col-sm-3">
    <a href="$g.link$"><img class="img-responsive img-rounded" src="$g.image$" alt=""></a>
    <h3 class="image-subtitles"><small>$g.caption$</small></h3>
    <p class="gallery-desc">$g.desc$</p>
  </div>
  $endif$
$endfor$
</div>

$if(container)$
</div> <!-- container -->
$endif$
  
$for(include-after)$
$include-after$
$endfor$

$if(inner-wrapper)$
</div> <!-- inner-wrapper -->
$endif$

</div> <!-- wrapper -->

</body>
</html>
