<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>

$for(header-includes)$
$header-includes$
$endfor$

<script type="text/javascript" src="$basepath$/js/doc.js"></script>


$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$

  <script src="doc.js"></script>
  
  <style>
  </style>
  
</head>
<body>
  
  <div id="header">
    $for(include-before)$
    $include-before$
    $endfor$
  </div> <!-- header -->


  <div id="tbs" class="container">
      
      <div class="row">
	<div class="col-sm-12" id="doctabs">
          <h1>Documentation</h1> 
	  <ul class="nav nav-tabs">
	    <li><a id="tocbtn">Hide TOC</a></li>
	    <li><a href="$docintropath$/index.html">Introduction</a></li>    
	    <li><a href="$docpath$/1.6/guidoc/doc.html">Latest 1.6</a></li>
	    <li><a href="$docpath$/1.5/guidoc/doc.html">Version 1.5</a></li>
	    <li><a href="$docpath$/1.4/guidoc/doc.html">Version 1.4</a></li>
	    <li><a href="$docpath$/1.3/guidoc/doc.html">Version 1.3</a></li>
	  </ul>           
	</div> 
      </div>


    <div class="row" id="stuff">
    
      <div class="col-sm-3" id="toc">
        <ul>
	  <li><a href="../whatsnew/doc.html"><b>Release Notes</b>: What's new in this version.</a></li>
        </ul>
        $toc$
      </div>
    
      <div class="col-sm-9" id="contents">
	
	$body$
      </div>
	
    </div>


    $for(include-after)$
    $include-after$
    $endfor$

  </div> 

</body>
</html>
