<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>

$for(header-includes)$
$header-includes$
$endfor$

$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
 
<style>

#lower{margin-top:50px;}

#sidebar{width:400px; top:50px; bottom:0px; position:fixed;}
#sidebar,.container,#lower{height:100%}
.container{margin:50px 400px;overflow:auto;}
#sidebar{left:0; overflow:auto; background-color:#aaa }
#sidebar ul { list-style:none; }
    
    
</style>

</head>
<body>
<div id="wrapper">

$for(include-before)$
$include-before$
$endfor$

<!-- <div id="inner-wrapper" > -->
  
  <div class="container">
  $body$
  </div> <!-- container -->


$for(include-after)$
$include-after$
$endfor$

</div> <!-- inner-wrapper -->

</div> <!-- wrapper -->

</body>
</html>
