<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie"> <![endif]-->
<!--[if IE 9]>         <html class="ie"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="pandoc" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
  
  <style type="text/css">code{white-space: pre;}</style>
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$if(math)$
  $math$
  $endif$
  
$for(header-includes)$
  $header-includes$
$endfor$

$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
  
</head>

<body>
$for(include-before)$
$include-before$
$endfor$


<div id="wrapper"> 
  <nav class="clearfix">
    <ul>
      <li><a href="../../../../" title="RCloud"><img class="homelogo" src="../../../../images/logo_rcloud.png" alt="RCloud"/></a></li>
      <li><a class="no-img" href="../../../../gallery/" title="Gallery">Gallery</a></li>
      <li><a href="../../../../tutorials/" title="Tutorials">Tutorials</a></li>                                                
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="drpdwn"><a href="../../../../documentation/">Introduction</a></li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Version 1.5</a>
            <ul class="dropdown-menu">
              <li class="drpdwn"><a href="../../../../documentation/doc/1.5/whatsnew/doc.html">What's New</a></li>
              <li class="drpdwn"><a href="../../../../documentation/doc/1.5/guidoc/doc.html">GUI Documentation</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Version 1.4</a>
            <ul class="dropdown-menu">
              <li class="drpdwn"><a href="../../../../documentation/doc/1.4/whatsnew/doc.html">What's New</a></li>
              <li class="drpdwn"><a href="../../../../documentation/doc/1.4/guidoc/doc.html">GUI Documentation</a></li>
            </ul>
          </li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Version 1.3</a>
            <ul class="dropdown-menu">
              <li class="drpdwn"><a href="../../../../documentation/doc/1.3/whatsnew/doc.html">What's New</a></li>
              <li class="drpdwn" ><a href="../../../../documentation/doc/1.3/guidoc/doc.html">GUI Documentation</a></li>
            </ul>
          </li>
        </ul>
      </li>                
      <li><a href="../../../../community/" title="Community">Community</a></li>
      <li><a href="../../../../tryit/" title="Try It" class="blue">Try It</a></li>
      <li><a class="no-img" href="https://github.com/att/rcloud" target="_blank"><img class="ghlogo" src="../../../../images/Octocat.png" alt="GitHub"></a></li>
      </ul>
    </nav>
    <header>
      <div id="header-wrap">
        <a class="trial" href="../../../../tryit/" title="Try RCloud" target="_blank">Try It</a>
        <a class="logo" href="../../../../" title="RCloud"><img src="../../../../images/logo_rcloud.png" alt="RCloud"/></a>
        <a class="menu-button clearfix">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
    </header>

$if(toc)$
    <div id="$idprefix$TOC">

      <ul>
	<ul>
	  <li><a href="../../../../documentation/doc/1.3/guidoc/doc.html"  >1.3 RCloud Editor Documentation</a></li>
	  <li><a href="../../../../documentation/doc/1.3/whatsnew/doc.html">1.3 Release Notes</a></li>
	</ul>
	<ul>
	  <li><a href="../../../../documentation/doc/1.4/guidoc/doc.html"  >1.4 RCloud Editor Documentation</a></li>
	  <li><a href="../../../../documentation/doc/1.4/whatsnew/doc.html">1.4 Release Notes</a></li>
	</ul>
	<ul>
	  <li><a href="../../../../documentation/doc/1.5/guidoc/doc.html"  >1.5 RCloud Editor Documentation</a></li>
	  <li><a href="../../../../documentation/doc/1.5/whatsnew/doc.html">1.5 Release Notes</a></li>
	</ul>
	<ul>
	  <li><a href="../../../../documentation/doc/1.6/guidoc/doc.html"  >1.6 RCloud Editor Documentation</a></li>
	  <li><a href="../../../../documentation/doc/1.6/whatsnew/doc.html">1.6 Release Notes</a></li>
	</ul>
      <li><a href="../../../../documentation/doc/1.4/guidoc/doc.html">GUI 1.4</a></li>
      </ul>
      
      <div role="main">
	$toc$
      </div>
</div>
$endif$

    
    <!----DOCUMENTATION----->
    <div id="inner-wrapper">
      <div class="container">
        <div class="row">

	  
          <div class="col-lg-12">


<section id="main">

$body$

          </div><!--/.col-lg-12-->
        </div><!-- /.row --> 
      </div><!--/.container--> 
      <footer>
        <div id="footer-wrap">
          <p class="copyright clearfix"><img src="../../../../images/logo_att_globe.png" alt="AT&amp;T" />&copy;Copyright <script>document.write(new Date().getFullYear())</script> RCloud</p>

          <ul id="footer-nav">
            <li class="ftr"><a href="../" title="RCloud"><img class="ftrhomelogo" src="../../../../images/logo_rcloud.png" alt="RCloud"></a></li>
            <li><a href="../../../../gallery/" title="Gallery">Gallery</a></li>
            <li><a href="../../../../tutorials/" title="Tutorials">Tutorials</a></li>
            <li><a href="#ftrdocs" title="Documentation">Documentation</a></li>                                                                         
            <li><a href="../../../../community/" title="Community">Community</a></li>
            <li><a href="../../../../tryit/" title="Try It" class="blue">Try It</a></li>
            <li class="ftr"><a class="footr" href="https://github.com/att/rcloud" target="_blank"><img  class="ghlogo" alt="GitHub" src="../../../../images/Octocat.png"></a></li>
            </ul>
            </div>
          </footer>             

        </div><!--/.inner-wrapper-->            
      </div> <!--"wrapper"-->

$for(include-after)$
$include-after$
$endfor$
</section>
</body>
</html>
