

<div id="inner-wrapper">
<div id="lower">
<div id="sidebar">

<h1>Editor Documentation</h1>
$for(include-before)$
<ul>$include-before$</ul>
$endfor$
<h1>Release Notes</h1>
$for(include-after)$
<ul>$include-after$</ul>
$endfor$

</div>